/********************************************
ESTILO DE NOSOTROS
*********************************************/
.gridNosotros{
    display: grid;
    align-content: flex-start;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "header"
    "mainNosotros"
    "footer"
    ;
    .header{
        grid-area: header;
        width: 100%;
        nav{
            &.navDesktop{
                ul{
                    li{
                        a{
                            color: $azul_dark;
                            &:focus{
                                font-family: 'Epilogue', sans-serif;
                                font-weight: 800;
                                color: $azul_dark;
                            }
                            &:active{
                                color: $azul_dark;
                                font-weight: 800;
                            }
                        }
                        &.navNosotros{
                            background-color: $celeste_light;
                            font-weight: 900;
                            line-height: 1;
                            border-radius: 6px;
                            box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.10);
                            animation-delay: 0s;
                            animation-duration: 1s;
                            animation-name: navNosotros;
                            @keyframes navNosotros {
                                0% {background-color: white;}
                                100% {background-color: $celeste_light;}
                            }
                        }
                    }
                }
            }
        }
    }
}